[submodule "src/external/spdlog"]
	path = src/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/external/imgui"]
	path = src/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/external/glfw"]
	path = src/external/glfw
	url = https://github.com/glfw/glfw
[submodule "src/external/capstone"]
	path = src/external/capstone
	url = https://github.com/aquynh/capstone
[submodule "src/external/googletest"]
	path = src/external/googletest
	url = https://github.com/google/googletest
[submodule "src/external/Imgui-IGS-Snippets"]
	path = src/external/Imgui-IGS-Snippets
	url = https://github.com/gileoo/Imgui-IGS-Snippets
[submodule "src/external/yaml-cpp"]
	path = src/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "src/external/libcxxabi"]
	path = src/external/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi
[submodule "src/external/glm"]
	path = src/external/glm
	url = https://github.com/g-truc/glm
[submodule "dynarmic"]
	path = src/external/dynarmic
	url = https://github.com/merrymage/dynarmic
[submodule "ext-boost"]
	path = src/external/ext-boost
	url = https://github.com/MerryMage/ext-boost
[submodule "src/external/date"]
	path = src/external/date
	url = https://github.com/HowardHinnant/date
[submodule "src/external/oss.API_REF.Public_API"]
	path = src/external/oss.API_REF.Public_API
	url = https://github.com/SymbianSource/oss.API_REF.Public_API
[submodule "src/external/pybind11"]
	path = src/external/pybind11
	url = https://github.com/pybind/pybind11
