[submodule "src/external/spdlog"]
	path = src/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/external/imgui"]
	path = src/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/external/glfw"]
	path = src/external/glfw
	url = https://github.com/glfw/glfw
[submodule "src/external/capstone"]
	path = src/external/capstone
	url = https://github.com/aquynh/capstone
[submodule "src/external/yaml-cpp"]
	path = src/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "src/external/libcxxabi"]
	path = src/external/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi
[submodule "src/external/glm"]
	path = src/external/glm
	url = https://github.com/g-truc/glm
[submodule "dynarmic"]
	path = src/external/dynarmic
	url = https://github.com/merrymage/dynarmic
[submodule "ext-boost"]
	path = src/external/ext-boost
	url = https://github.com/MerryMage/ext-boost
[submodule "src/external/date"]
	path = src/external/date
	url = https://github.com/HowardHinnant/date
[submodule "src/external/pybind11"]
	path = src/external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "src/external/epocapi"]
	path = src/external/epocapi
	url = https://github.com/EKA2L1/oss.API_REF.Public_API
[submodule "src/external/fmt"]
	path = src/external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/external/microprofile"]
	path = src/external/microprofile
	url = https://github.com/jonasmr/microprofile/
[submodule "src/external/stb"]
	path = src/external/stb
	url = https://github.com/nothings/stb
[submodule "src/external/Catch2"]
	path = src/external/Catch2
	url = https://github.com/catchorg/Catch2/
